<html>
    <head>
        <title>BeerOverflow - Home</title>
    </head>
    <body>
        <header>
            <div>
                <h3>
                    <a href="/Home/Index">Home</a>
                    |  <a href="/Home/About">About</a>
                    |  <a href="/Beers/Index">Beers</a>
                </h3>
            </div>
        </header>

        <h2>Welcome</h2>
        <img src="~/images/logo.png" />

    </body>
</html>